<a href="https://colab.research.google.com/github/FahmidaNourin/Python_Practice/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRINT SOMETHING

In [ ]:
print("hello world!")
print("NSU is the best university.")

hello world!
NSU is the best university.

In [ ]:
print("Din the Day")

Din the Day

#INPUT

In [ ]:
x=input("INPUT VALUE OF X:")
print(x)

INPUT VALUE OF X:gdyeiud
gdyeiud

#Sumation of two number

In [ ]:
x=int(input("input value of x:"))
y=int(input("input value of y:"))
print(x+y)

#Summation of two words

In [ ]:
x=input("input value of x:")
y=input("input value of y:")
print(x+y)

input value of x:jani na
input value of y:  ki likhbo
jani na  ki likhbo

In [ ]:
print(x)

jani na

#Indexing & Sagmentaion

In [ ]:
print(y[2])

k

In [ ]:
print(y[7])

k

In [ ]:
print(y[2:8])

ki lik

In [ ]:
string='hello how are you'

print(string[0:7])

hello h

#condition

In [ ]:
x=int(input("Input value of x: "))
if(x%2==0):
  print("number is even")
else:
  print("Number is odd")

Input value of x: 78
number is even

In [ ]:
x=int(input("Input value of x: "))
if(x==0):
  print("number is ZERO")
elif(x>0):
  print("Number is positive")
elif(x<0):
  print("Number is negative")
else:
  print("Invalid")

Input value of x: -23
Number is negative

#LOOP

increament

In [ ]:
for i in range(1,801):
  print(i, "Nourin is a pritty girl!!")

In [ ]:
string="Somoy onek change kore diche amk..shob kichu theke onk dure shoraya diche...jak ga oigula bolbo ne kokhono dekha hole.. Onk time er memories toh..ami akhono kichu mante pari na..badde agula dost..tui amk vul bujhis na dost..Amr sthe dekha kore cake niye then or sthe dekha koris dost oidin"


for i in string:
  print(i)

S
o
m
o
y

o
n
e
k

c
h
a
n
g
e

k
o
r
e

d
i
c
h
e

a
m
k
.
.
s
h
o
b

k
i
c
h
u

t
h
e
k
e

o
n
k

d
u
r
e

s
h
o
r
a
y
a

d
i
c
h
e
.
.
.
j
a
k

g
a

o
i
g
u
l
a

b
o
l
b
o

n
e

k
o
k
h
o
n
o

d
e
k
h
a

h
o
l
e
.
.

O
n
k

t
i
m
e

e
r

m
e
m
o
r
i
e
s

t
o
h
.
.
a
m
i

a
k
h
o
n
o

k
i
c
h
u

m
a
n
t
e

p
a
r
i

n
a
.
.
b
a
d
d
e

a
g
u
l
a

d
o
s
t
.
.
t
u
i

a
m
k

v
u
l

b
u
j
h
i
s

n
a

d
o
s
t
.
.
A
m
r

s
t
h
e

d
e
k
h
a

k
o
r
e

c
a
k
e

n
i
y
e

t
h
e
n

o
r

s
t
h
e

d
e
k
h
a

k
o
r
i
s

d
o
s
t

o
i
d
i
n

word separation

In [ ]:
string="Somoy onek change kore diche amk..shob kichu theke onk dure shoraya diche...jak ga oigula bolbo ne kokhono dekha hole.. Onk time er memories toh..ami akhono kichu mante pari na..badde agula dost..tui amk vul bujhis na dost..Amr sthe dekha kore cake niye then or sthe dekha koris dost oidin"

string2=string.split(" ")

print(string2)

for i in string2:
  print(i)

['Somoy', 'onek', 'change', 'kore', 'diche', 'amk..shob', 'kichu', 'theke', 'onk', 'dure', 'shoraya', 'diche...jak', 'ga', 'oigula', 'bolbo', 'ne', 'kokhono', 'dekha', 'hole..', 'Onk', 'time', 'er', 'memories', 'toh..ami', 'akhono', 'kichu', 'mante', 'pari', 'na..badde', 'agula', 'dost..tui', 'amk', 'vul', 'bujhis', 'na', 'dost..Amr', 'sthe', 'dekha', 'kore', 'cake', 'niye', 'then', 'or', 'sthe', 'dekha', 'koris', 'dost', 'oidin']
Somoy
onek
change
kore
diche
amk..shob
kichu
theke
onk
dure
shoraya
diche...jak
ga
oigula
bolbo
ne
kokhono
dekha
hole..
Onk
time
er
memories
toh..ami
akhono
kichu
mante
pari
na..badde
agula
dost..tui
amk
vul
bujhis
na
dost..Amr
sthe
dekha
kore
cake
niye
then
or
sthe
dekha
koris
dost
oidin

In [ ]:
string="Ami as a bf bol as a human being bol as a frnd bol shob dikei genuine ekta loser. Eita ami mani ar keu manuk ar na manuk. Amr mentality hoite pare ektu cheap karon ami alada poribeshe boro hoisi. so ami dure thakai better shob dikei. ami amr nijekei virus mone kori..Ar life e akhn just proti ta din guntesi ei ovishopto life theke ber hoye jawar..aije tore ami mon khule shotti ta bole dilam. Tui vab ja vabar but tui ask krsos ajke tai atogula kotha na bole parlm na."
string3=string.split(".")

print(string3)

for i in string3:
  print(i)

['Ami as a bf bol as a human being bol as a frnd bol shob dikei genuine ekta loser', ' Eita ami mani ar keu manuk ar na manuk', ' Amr mentality hoite pare ektu cheap karon ami alada poribeshe boro hoisi', ' so ami dure thakai better shob dikei', ' ami amr nijekei virus mone kori', '', 'Ar life e akhn just proti ta din guntesi ei ovishopto life theke ber hoye jawar', '', 'aije tore ami mon khule shotti ta bole dilam', ' Tui vab ja vabar but tui ask krsos ajke tai atogula kotha na bole parlm na', '']
Ami as a bf bol as a human being bol as a frnd bol shob dikei genuine ekta loser
 Eita ami mani ar keu manuk ar na manuk
 Amr mentality hoite pare ektu cheap karon ami alada poribeshe boro hoisi
 so ami dure thakai better shob dikei
 ami amr nijekei virus mone kori

Ar life e akhn just proti ta din guntesi ei ovishopto life theke ber hoye jawar

aije tore ami mon khule shotti ta bole dilam
 Tui vab ja vabar but tui ask krsos ajke tai atogula kotha na bole parlm na

**print each alphabet with a for loop**

In [ ]:
pera="Life is a single word with many different connotations and meanings. Above all, life is about more than just being; it's also about how one defines that existence. As a result, it's vital to think about life from several angles. Philosophers, academics, poets, and authors have written extensively about what it means to live and, more significantly, what are the essential elements that characterize one's existence. This exercise has, of course, been done in a variety of ways. While philosophers sought to understand the meaning and purpose of people's lives, poets and authors recorded the diversity of life at various times. As a result, life is likely to be more than exciting."

**print each word with a for loop**

**print each sentece with for loop**

**print each comma separated with for loop**

#String as INteger

In [ ]:
num="1234"

print(num)

1234

In [ ]:
string="Somoy onek change kore diche amk. shob 2342341234=fsadf23 kichu theke onk dure shoraya diche. jak ga oigula bolbo ne kokhono dekha hole. Onk time er memories toh.ami akhono kichu mante pari na..badde agula dost.tui amk vul bujhis na dost.Amr sthe dekha kore cake niye then or sthe dekha koris dost oidin"


string2 = string.split(" ")


for i in string2:
  print(i)
  if i=="2342341234=fsadf23":
    break

print(int(i[:2])+10)

Somoy
onek
change
kore
diche
amk.
shob
2342341234=fsadf23
33

#Use of type() function

In [3]:
a = 30
b = "this is a string"
c = "A"
d = 40.554
e = [3,4,5,6,7]
f = {"hello" : 100}

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'dict'>

#variable.isnumeric()

In [11]:
j = "45"
k = "kkkk"

In [14]:
print(j.isnumeric())
print(k.isnumeric())

True
False

#To remove char from a string

In [24]:
string = "2342341234=fsadf23"
new_string = ""

for index in string:
  if index.isnumeric() ==True:
    new_string=new_string+index
print(new_string)
print(type(new_string))

to_number = int(new_string)
print(type(to_number))

234234123423
<class 'str'>
<class 'int'>

#how to count vowel from a string....

In [6]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:Nourinisverycutegirl
Number of vowels are:
8

#Frequency of each voowel

In [ ]:
vowels = 'aeiou'

# take input from the user

ip_str = input("Enter a string: ")

# make it suitable for caseless comparisions

ip_str = ip_str.casefold()

count = {}.fromkeys(vowels,0)

# count the vowels

for char in ip_str:

   if char in count:

       count[char] += 1

print(count)

Find out integers from a string